<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="StoreEntities" connectionString="metadata=res://*/DomainModels.DTO.EF.StoreModel.csdl|res://*/DomainModels.DTO.EF.StoreModel.ssdl|res://*/DomainModels.DTO.EF.StoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Store;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>